@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Medium.woff2") format("woff2"), url("../fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
}

body {
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  line-height: 1.37;
  background-color: #eaeff9;
}

.scroll {
  width: 60px;
  height: 60px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #007bff;
  border-radius: 55px;
  -webkit-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.2);
}

.scroll:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #002d93;
}

#scrollToTop {
  z-index: 2;
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

.header__container {
  max-width: 100%;
  width: 130rem;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container::after {
  content: "";
  position: fixed;
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 42px 0px;
  right: 0;
  z-index: 1;
}

.header__logo {
  max-width: 164px;
  z-index: 3;
}

.header__menu {
  display: block;
}

.logo__img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 64px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #002d93;
}

.logo__img:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #007bff;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}

.menu__link-sub,
.menu__link {
  color: rgb(0, 0, 0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu__link-sub:hover,
.menu__link:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #007bff;
}

.menu__link-sub:hover .infoblock__poster-img,
.menu__link:hover .infoblock__poster-img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #007bff;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  background-color: #fff;
  padding: 12px;
  min-width: 255px;
}

.menu__sub-list li {
  margin: 0px 0px 10px 0px;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-link {
  color: #333;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__sub-link:hover {
  color: #007bff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__menu__arrow {
  display: none;
}

.menu__sub-link {
  white-space: pre-line;
}

.infoblock__sub-link {
  color: #000;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.infoblock__sub-link:hover {
  color: #007bff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.infoblock__sub-list li {
  margin: 0px 0px 10px 0px;
}

.infoblock__sub-list li:last-child {
  margin: 0px;
}

.logo__img-mobile {
  display: none;
  height: 35px;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #002d93;
}

.logo__img-mobile:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #007bff;
}

.infoblock__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body._pc .menu__list .menu__arrow.first,
body._pc .menu__list .menu__arrow.second {
  display: none;
}

body._pc .infoblock__poster:hover .infoblock__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li,
._pc .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 11px solid black;
}

body._pc .menu__list li:hover .menu__arrow {
  border-top: 10px solid #007bff;
}

body._pc .menu__arrow {
  width: 0;
  height: 0;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  border-top: 10px solid #333;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

body._touch .menu__list > li._active .menu__sub-list,
body._touch .header__infoblock.infoblock > .infoblock__poster._active .infoblock__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .mobile__buton._active .menu__arrow {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.infoblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 2;
}

.infoblock__poster-link {
  max-width: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.infoblock__poster-link:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #007bff;
}

.infoblock__poster-link:hover .infoblock__poster-img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #007bff;
}

.infoblock__poster-img {
  margin: 0px 8px 0px 0px;
  width: 33px;
  height: 30px;
  fill: #002d93;
}

.infoblock__poster-element-text-title {
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 16px;
}

.infoblock__phone-logo .tr__img,
.infoblock__phone-logo .phone__img {
  width: 50px;
  height: 50px;
  fill: #002d93;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.infoblock__phone-number {
  display: block;
}

.infoblock__phone-link {
  display: block;
  font-weight: 700;
  line-height: 1.4;
  color: #000;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin-right: 6px;
}

.infoblock__phone-link:hover {
  color: #007bff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-decoration: underline;
}

.infoblock__phone-logo:hover svg {
  fill: #007bff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__list li .menu__link.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._pc .infoblock__poster .infoblock__sub-list,
body._touch .infoblock__poster .infoblock__sub-list {
  visibility: hidden;
}

.infoblock__sub-list {
  position: absolute;
  background-color: #fff;
  padding: 12px;
  min-width: 255px;
  top: 100%;
}

body._touch .menu__link.mobile .infoblock__sub-list.mobile {
  visibility: visible;
}

.phone-number-tittle-text {
  color: #333;
  font-weight: 700;
}

.footer__navigation {
  margin-left: 60px;
}

body._pc .footer .footer__content > .social-link {
  display: none;
}

.mobile__buton .menu__arrow,
body._touch .mobile__buton .menu__arrow {
  display: none;
}

.footer__content {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__info,
.footer .footer__mail-link {
  color: #000;
  font-weight: 500;
  line-height: 1.75;
  margin-bottom: 0.15rem;
}

.footer__text.light {
  color: #777;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.footer__mail-link {
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1px;
}

.footer__mail-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.logo__img.footer {
  width: 100%;
  display: block;
}

.footer__navigation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__navigation-left {
  margin-bottom: 0.8rem;
}

.footer__nav-item {
  margin-top: 6px;
}

.footer__nav-item:first-child {
  margin-top: 0px;
}

.footer__nav-link,
.footer .pol-link {
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 400;
}

.footer__nav-link:hover,
.footer .pol-link:hover {
  color: #007bff;
}

.footer__navigation-right {
  margin-bottom: 0.8rem;
}

.link-head {
  color: #002d93;
  font-weight: 700;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.65px;
  margin-bottom: 12px;
}

.link-head:hover {
  color: #007bff;
}

.pol-item {
  margin-bottom: 0.25rem;
}

.messager-number {
  margin-left: 60px;
}

.footer__phone {
  text-align: center;
  margin-left: 60px;
}

.phone-number {
  margin-bottom: 12px;
}

.phone-number-link {
  display: block;
  color: #000;
  font-weight: 400;
  line-height: 1.75;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.phone-number-link:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #007bff;
  text-decoration: underline;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 12px auto;
  width: 230px;
}

.social-item {
  display: block;
  margin-left: 0.48rem;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-pics {
  display: block;
  width: 46px;
  height: 46px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #007bff;
}

.social-pics:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #002d93;
}

.accessibility-content {
  position: absolute;
  height: 0;
  width: 0;
  font-size: 0;
  overflow: hidden;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.phone-number__element {
  margin-bottom: 8px;
}

.phone-number__element:last-child {
  margin-bottom: 0px;
}

.messager-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messager-link:hover .messager-pics {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #002d93;
}

.messager-link:hover .messager-title-text {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #007bff;
  text-decoration: underline;
}

.messager-icon {
  margin-right: 6px;
}

.messager-pics {
  display: block;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  fill: #007bff;
}

.messager-title-text {
  font-weight: 400;
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#scrollToTop:hover svg use {
  fill: #002d93;
}

.grecaptcha-badge {
  display: none;
}

.phone-number-block {
  text-align: center;
}

body._pc .menu__list > li:last-child,
body._touch .menu__list > li:last-child {
  display: none;
  margin: 0px;
}

@media (min-width: 767px) {
  .menu__link-sub,
  .menu__link {
    font-size: calc(16px + 4 * (100vw / 3600));
  }

  .infoblock__phone-link {
    font-size: calc(17px + 0 * (100vw / 3600));
  }

  .phone-number-tittle-text {
    font-size: calc(14px + 2 * (100vw / 3600));
  }

  .footer__info,
  .footer .footer__mail-link {
    font-size: calc(14px + 14 * (100vw / 3600));
  }

  .footer__text.light {
    font-size: calc(12px + 8 * (100vw / 3600));
  }

  .footer__nav-link,
  .footer .pol-link {
    font-size: calc(14px + 7 * (100vw / 3600));
  }

  .link-head {
    font-size: calc(18px + 16 * (100vw / 3600));
  }

  .phone-number-link {
    font-size: calc(16px + 6 * (100vw / 3600));
  }

  .messager-title-text {
    font-size: calc(16px + 6 * (100vw / 3600));
  }
}

@media (min-width: 970px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list > li {
    padding: 10px 0;
  }
}

@media (min-width: 992px) {
  body._pc .menu__arrow {
    width: 0;
    height: 0;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    border-top: 8px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }

  .footer__content > .social-link {
    display: none;
  }

  .footer__nav {
    margin-top: 12px;
  }

  .footer__logo {
    max-width: 164px;
    margin-bottom: 2rem;
  }

  .footer__content {
    padding: 2rem 60px;
  }

  .pol-link {
    letter-spacing: 1px;
  }

  .link-head {
    margin-bottom: 0.8em;
  }

  body._touch .menu__arrow,
  body._pc .menu__arrow {
    margin: 0px 0px 0px 12px;
  }
}

@media (min-width: 993px) {
  .phone-number-tittle-text.block {
    display: none;
  }
}

@media (min-width: 1300px) {
  .infoblock__poster .infoblock__sub-list {
    top: 78%;
  }

  body._touch .menu__arrow.second,
  body._touch .menu__arrow.first {
    display: none;
  }

  body._pc .menu__list .menu__arrow.second.has-sub,
  body._touch .menu__arrow.first.has-sub,
  body._touch .menu__arrow.second.has-sub {
    display: block;
  }

  body._touch .menu__arrow.first.has-sub,
  body._pc .menu__arrow.first.has-sub {
    display: none;
  }

  body._touch .menu__list > li._active .menu__arrow,
  body._touch .header__infoblock.infoblock > .infoblock__poster._active .menu__arrow {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  body._touch .infoblock__poster {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

  .header__menu {
    z-index: 2;
  }

  body._pc .infoblock__poster .menu__arrow.second {
    display: none;
  }

  .menu__sub-list,
  .infoblock__sub-list {
    -webkit-transform: translate(0px, 10%);
        -ms-transform: translate(0px, 10%);
            transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-shadow: 0 0 22px 1px lightgrey;
            box-shadow: 0 0 22px 1px lightgrey;
    border-radius: 8px;
  }

  .menu__link::after {
    content: "";
    position: absolute;
    top: 3.1em;
    left: 0;
    width: 100%;
    height: 0.25em;
    border-radius: 0.25em 0.25em 0 0;
    background-color: #0099ff;
    opacity: 0;
    -webkit-transform: translateY(1em);
        -ms-transform: translateY(1em);
            transform: translateY(1em);
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .menu__link:hover:not(.active)::after {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 1300px) and (min-width: 767px) {
  .infoblock__poster-element-text-title {
    font-size: calc(16px + 4 * (100vw / 3600));
  }
}

@media (max-width: 1789px) {
  body #wpadminbar {
    height: 65px;
  }
}

@media (max-width: 1741px) {
  .messager-number {
    margin-top: 20px;
  }
}

@media (max-width: 1460px) {
  .logo__img {
    width: 6.9rem;
  }
}

@media (max-width: 1405px) {
  .footer__phone {
    margin-top: 20px;
  }
}

@media (max-width: 1300px) {
  body._touch .menu__list .menu__arrow.first,
  body._touch .menu__list .menu__arrow.second.has-sub {
    display: none;
  }

  body._touch .menu__list .menu__arrow.first.has-sub {
    display: block;
  }

  body._pc .menu__list .menu__arrow.first.has-sub {
    display: block;
    margin-right: 20px;
  }

  .menu__list {
    font-weight: 600;
  }

  body._pc .header .menu__list li:last-child,
  body._touch .header .menu__list li:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  body._touch .menu__body._active .menu__list > li:nth-child(2),
  body._touch .menu__body._active .menu__list > li:nth-child(5) {
    margin-left: 20px;
  }

  body._touch .menu__sub-list,
  body._touch .infoblock__sub-list.mobile {
    padding-left: 40px;
  }

  body._touch .menu__sub-list,
  .infoblock__sub-list.mobile {
    margin: 0px;
  }

  body._touch .menu__list > li._active .menu__arrow,
  body._touch .header__infoblock.infoblock > .infoblock__poster._active .menu__arrow {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  body._touch .menu__arrow.second,
  body._pc .menu__arrow.second {
    display: none;
  }

  body._touch .menu__arrow.first {
    display: block;
    margin: 10px;
  }

  .infoblock__poster-element-text-title {
    font-weight: 600;
    line-height: 1.2;
  }
}

@media (max-width: 1145px) {
  .news-item {
    height: 397px;
  }
}

@media (max-width: 1138px) {
  .footer__info-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__logo {
    margin: 0 auto;
  }

  .footer__bottom-info,
  .footer__info-part {
    margin-left: 60px;
  }

  .footer__info-part {
    margin-bottom: 20px;
  }

  .footer__navigation {
    text-align: center;
  }

  .footer__navigation:first-child {
    margin: 0;
    margin-bottom: 12px;
  }

  .footer__phone {
    margin-top: 0px;
  }
}

@media (max-width: 992px) {
  .messager-number {
    width: 235px;
  }

  .phone-block {
    width: 255px;
  }

  .phone-number-block {
    margin-top: 14px;
  }

  .footer__content .messager-number {
    vertical-align: top;
    margin-top: 0px;
  }

  .footer__phone,
  .messager-number {
    display: inline-block;
  }

  .phone-number {
    margin-top: 14px;
  }

  .footer__navigation:first-child {
    width: 255px;
  }

  .footer__navigation {
    width: 235px;
  }

  .footer .footer__info-part {
    margin-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__navigation-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer .footer__content {
    display: block;
  }

  .footer__content .footer__phone {
    margin: 0;
  }

  .phone-number-tittle-text.block {
    color: #002d93;
  }

  body._touch .phone-number-block,
  body._touch .phone-number {
    display: none;
  }

  .phone-number-tittle-text {
    display: inline-block;
  }

  .footer__content .social-link {
    margin-top: 18px;
    position: relative;
    right: 0;
  }

  body._touch .messager-number .social-link {
    display: none;
  }

  body._touch .menu__arrow.first,
  body._pc .menu__arrow.first {
    margin-right: 20px;
  }

  .footer__nav {
    margin-top: 14px;
  }

  body._touch .footer__navigation._active .mobile__buton,
  body._touch .messager-number._active .mobile__buton,
  body._touch .phone-block._active .mobile__buton {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
  }

  .footer__navigation {
    position: relative;
  }

  body._pc .mobile__buton .menu__arrow,
  body._touch .mobile__buton .menu__arrow {
    display: block;
  }

  body._touch .mobile__buton {
    position: absolute;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin: 10px;
  }

  body._touch .footer__nav {
    display: none;
  }

  body._touch .footer__navigation._active .footer__nav,
  body._touch .messager-number._active .phone-number-block,
  body._touch .phone-block._active .phone-number {
    display: block;
  }

  body._touch .footer__navigation-left._active .footer__nav {
    display: block;
  }

  .menu__arrow.mobile {
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    width: 40px;
    height: 40px;
  }

  .mobile__buton .menu__arrow {
    position: absolute;
    top: 40%;
    left: 40%;
    margin: 0px;
  }

  .footer__logo-link .logo__img {
    max-width: 164px;
    width: 100%;
    margin: 0 auto 10px;
  }

  .footer__content {
    padding: 2rem 25px;
  }

  .footer__content {
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer__info-part {
    margin-bottom: 12px;
  }

  .footer__navigation-left {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .pol-link {
    letter-spacing: 0px;
  }

  .link-head {
    margin-bottom: 14px;
  }

  .footer__content {
    padding: 2rem 25px;
  }
}

@media (max-width: 992px) and (max-width: 767px) {
  .phone-number-tittle-text.block {
    font-size: calc(18px + 27.2 * ((100vw - 320px) / 3600));
  }
}

@media (max-width: 968px) {
  .logo__img {
    max-width: 100%;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon:before,
  .menu__icon:after {
    left: 0;
    position: absolute;
    height: 4px;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #002d93;
    border-radius: 2px;
  }

  .menu__icon:before,
  .menu__icon:after {
    content: "";
  }

  .menu__icon:before {
    top: 0;
    -webkit-transform: scale(1.1) translate(0px, -80%);
        -ms-transform: scale(1.1) translate(0px, -80%);
            transform: scale(1.1) translate(0px, -80%);
  }

  .menu__icon:after {
    bottom: 0;
    -webkit-transform: scale(1.1) translate(0px, 80%);
        -ms-transform: scale(1.1) translate(0px, 80%);
            transform: scale(1.1) translate(0px, 80%);
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1.1) translate(0px, -50%);
        -ms-transform: scale(1.1) translate(0px, -50%);
            transform: scale(1.1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, 80%);
        -ms-transform: scale(0) translate(0px, 80%);
            transform: scale(0) translate(0px, 80%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -80%);
        -ms-transform: rotate(-45deg) translate(0px, -80%);
            transform: rotate(-45deg) translate(0px, -80%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 80%);
        -ms-transform: rotate(45deg) translate(0px, 80%);
            transform: rotate(45deg) translate(0px, 80%);
  }

  body._lock {
    overflow: hidden;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 100px 30px 30px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #fff;
    z-index: 2;
  }

  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 20px 0px;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .infoblock__poster-element-text-title {
    line-height: 24px;
    font-weight: 600;
  }

  .infoblock__poster-img {
    fill: #002d93;
    width: 36px;
    height: 36px;
  }

  .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }

  .menu__sub-link {
    color: #000;
  }

  .infoblock__poster-link {
    display: none;
  }

  .infoblock {
    width: auto;
  }

  .menu__list li .menu__link.mobile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .infoblock__sub-list.mobile {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }

  .menu__list > li._active .infoblock__sub-list.mobile {
    display: block;
  }

  body._pc .menu__arrow.second,
  body._touch .menu__arrow.second {
    display: none;
  }
}

@media (max-width: 968px) and (max-width: 767px) {
  .menu__sub-link {
    font-size: calc(14px + 10.2 * ((100vw - 320px) / 3600));
  }
}

@media (max-width: 767px) {
  .menu__link-sub,
  .menu__link {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 3600));
  }

  .infoblock__phone-link {
    font-size: calc(17px + 0 * ((100vw - 320px) / 3600));
  }

  .phone-number-tittle-text {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 3600));
  }

  .footer__info,
  .footer .footer__mail-link {
    font-size: calc(14px + 23.8 * ((100vw - 320px) / 3600));
  }

  .footer__text.light {
    font-size: calc(12px + 13.6 * ((100vw - 320px) / 3600));
  }

  .footer__nav-link,
  .footer .pol-link {
    font-size: calc(14px + 11.9 * ((100vw - 320px) / 3600));
  }

  .link-head {
    font-size: calc(18px + 27.2 * ((100vw - 320px) / 3600));
  }

  .phone-number-link {
    font-size: calc(16px + 10.2 * ((100vw - 320px) / 3600));
  }

  .messager-title-text {
    font-size: calc(16px + 10.2 * ((100vw - 320px) / 3600));
  }
}

@media (max-width: 725px) {
  .footer__info-part {
    display: block;
  }

  .footer__bottom-info {
    margin-left: 0px;
  }
}

@media (max-width: 673px) {
  .footer__navigation {
    margin-left: 0px;
  }

  .footer__content .messager-number {
    margin-left: 0px;
  }
}

@media (max-width: 600px) {
  .footer__navigation-content {
    display: block;
    margin-bottom: 12px;
  }

  .footer__navigation {
    width: auto;
  }

  .footer__navigation:first-child {
    width: auto;
  }

  .phone-block {
    margin-bottom: 12px;
    width: auto;
  }

  .footer__phone,
  .messager-number {
    display: block;
    width: auto;
  }

  .footer__content .social-link {
    width: auto;
  }
}

@media (max-width: 580px) {
  .footer__navigation-content {
    display: block;
    margin-bottom: 16px;
  }
}

@media (max-width: 514px) {
  body._pc .footer__content .social-link {
    position: relative;
    right: 0;
  }
}

@media (max-width: 485px) {
  .infoblock__phone-link {
    display: none;
  }

  .logo__img {
    display: none;
  }

  .logo__img-mobile {
    width: 2.5rem;
    display: block;
  }

  .infoblock {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}

@media (max-width: 460px) {
  .service__tool-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 1.35em;
  }
}

@media (max-width: 360px) {
  .messager-number {
    margin-left: 0px;
    width: auto;
  }

  .footer__phone,
  .messager-number {
    display: block;
  }
}

@media (min-width: 601px) and (max-width: 992px) {
  .footer__navigation-content .footer__navigation {
    text-align: left;
  }

  .footer__content .footer__phone {
    text-align: left;
  }

  .messager-number {
    text-align: left;
  }

  .phone-number__element .messager-link {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}

@media (max-width: 992px) and (min-width: 767px) {
  .phone-number-tittle-text.block {
    font-size: calc(18px + 16 * (100vw / 3600));
  }
}

@media (min-width: 1300px) and (max-width: 767px) {
  .infoblock__poster-element-text-title {
    font-size: calc(16px + 6.8 * ((100vw - 320px) / 3600));
  }
}

@media (max-width: 968px) and (min-width: 767px) {
  .menu__sub-link {
    font-size: calc(14px + 6 * (100vw / 3600));
  }
}

@media (min-width: 970px) and (max-width: 1300px) {
  .infoblock__poster {
    display: none;
  }

  body._pc .menu__list > li:hover .menu__sub-list,
  body._pc .menu__list > li:hover .infoblock__sub-list.mobile {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    pointer-events: all;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
  .menu__icon:before,
  .menu__icon:after {
    left: 0;
    position: absolute;
    height: 20%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #002d93;
  }

  .menu__icon:before,
  .menu__icon:after {
    content: "";
  }

  .menu__icon:before {
    border-radius: 2px;
    top: 0;
    -webkit-transform: scale(1.1) translate(0px, -80%);
        -ms-transform: scale(1.1) translate(0px, -80%);
            transform: scale(1.1) translate(0px, -80%);
  }

  .menu__icon:after {
    border-radius: 2px;
    bottom: 0;
    -webkit-transform: scale(1.1) translate(0px, 80%);
        -ms-transform: scale(1.1) translate(0px, 80%);
            transform: scale(1.1) translate(0px, 80%);
  }

  .menu__icon span {
    border-radius: 2px;
    top: 50%;
    -webkit-transform: scale(1.1) translate(0px, -50%);
        -ms-transform: scale(1.1) translate(0px, -50%);
            transform: scale(1.1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -80%);
        -ms-transform: rotate(-45deg) translate(0px, -80%);
            transform: rotate(-45deg) translate(0px, -80%);
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 80%);
        -ms-transform: rotate(45deg) translate(0px, 80%);
            transform: rotate(45deg) translate(0px, 80%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 500px;
    height: 100%;
    background-color: #fff;
    padding: 100px 30px 30px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    -webkit-box-shadow: 0 0 22px 1px lightgrey;
            box-shadow: 0 0 22px 1px lightgrey;
    border-radius: 4px;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list .header__logo {
    display: block;
  }

  .menu__list {
    display: block;
  }

  .menu__list > li {
    margin: 0px 0px 30px 0px;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .menu__list > li._active .infoblock__sub-list.mobile {
    display: block;
  }

  .infoblock__sub-list.mobile {
    margin-top: 20px;
  }

  .menu__sub-list,
  .infoblock__sub-list.mobile {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: none;
  }

  .menu__sub-link,
  .infoblock__sub-list {
    color: #000;
  }
}

@media (min-width: 970px) and (max-width: 1300px) and (max-width: 767px) {
  .menu__link,
  .menu__link-sub {
    font-size: calc(24px + 0 * ((100vw - 320px) / 3600));
  }

  .menu__sub-link,
  .infoblock__sub-list {
    font-size: calc(18px + -6.8 * ((100vw - 320px) / 3600));
  }
}

@media (min-width: 970px) and (max-width: 1300px) and (min-width: 767px) {
  .menu__link,
  .menu__link-sub {
    font-size: calc(24px + 0 * (100vw / 3600));
  }

  .menu__sub-link,
  .infoblock__sub-list {
    font-size: calc(18px + -4 * (100vw / 3600));
  }
}